.card {
  background-color: #FFF;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.06);

  @apply py-6 px-4 md:py-8 px-6;

  @media (min-width: 768px) {
    width: 32%;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: var(--gray-700);
  font-weight: 700;
  @apply text-xl;
}

.date {
  color: var(--gray-500);
  @apply py-4 text-sm;
}

.badge {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.badge.google {
  background-image: url('/images/logo_google.png');
}

.badge.facebook {
  background-image: url('/images/logo_facebook.png');
}

.badge.twitter {
  background-image: url('/images/logo_twitter.png');
}

.badge.email {
  background-image: url('/images/logo_email.png');
}

.links a {
  display: block;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 28px;
  border-top: 1px solid var(--gray-100);
  @apply py-2;
}

.links a:first-child {
  border-top: none;
}

.links a.view {
  background-image: url('/images/icon_view.png');
}

.links a.more {
  background-image: url('/images/icon_elipsis_vert.png');
}

.preview {
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--gray-100);
  @apply p-4;
}

.preview img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
