@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --navbar-width-desktop: 240px;
  --navbar-height-mobile: 64px;
  --gray-100: #F3F4F6;
  --gray-900: #111827;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-3.5 md:py-2 text-base md:text-sm font-medium text-white hover:bg-indigo-50 hover:text-indigo-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2;
  }
}

.site-container {
  height: 100vh;
  display: block;
  position: relative;
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

main {
  width: 100%;
  padding: 16px; /* padding-right needed so text doesn't overlap scrollbar */  
  padding-bottom: var(--navbar-height-mobile); /* padding-bottom needed since navbar is fixed to bottom */

  @media (min-width: 768px) {
    margin-left: 240px;
    padding: 24px;
  }
}

.project-dropdown {
  height: 0;

  @media (min-width: 768px) {
    height: 5%;
  }
}

nav {
  background-color: #FFF;
  width: 100vw;
  height: var(--navbar-height-mobile);
  position: fixed;
  bottom: 0;
  padding: 10px;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.10);

  @media (min-width: 768px) {
    width: var(--navbar-width-desktop);
    height: 100vh;
    left: 0;
    bottom: unset;
    padding: 16px;
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.10);
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
    height: 95%;
  }
}

nav ul li {
  display: inline-block;
  width: 16%;
  height: 44px;
  margin-left: 5%;
  font-size: 10px;

  @media (min-width: 768px) {
    display: block;
    width: auto;
    margin-left: 0;
    margin-bottom: 4px;
    font-size: 14px;
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  width: auto;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

nav ul li.on a,
nav ul li a:hover {
  background-color: var(--gray-100);
  color: var(--gray-900);
  font-weight: 600;
}

nav ul li.on a {
  pointer-events: none; /* disable pointer icon if already on page */
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: 768px) {
    background-position: center left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
  }
}

.icon-home {
  background-image: url('./images/icon_home.png');
}

.icon-website {
  background-image: url('./images/icon_website.png');
}

.icon-crm {
  background-image: url('./images/icon_crm.png');
}

.icon-marketing {
  background-image: url('./images/icon_marketing.png');
}

.icon-invoices {
  background-image: url('./images/icon_invoices.png');
}

.icon-money {
  background-image: url('./images/icon_money.png');
}

.icon-business {
  background-image: url('./images/icon_business.png');
}

.icon-more {
  background-image: url('./images/icon_more.png');
}

.make-last-item {
  margin-top: auto;
}

nav h1 {
  font-weight: bold;
}

.show-on-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.hide-on-desktop {
  display: inline-block;

  @media (min-width: 768px) {
    display: none;
  }
}

p {
  margin-bottom: 16px;
}
