@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --navbar-width-desktop: 240px;
  --navbar-height-mobile: 64px;
  --subnav-height-desktop: 7vh;
  --gray-100: #F3F4F6;
  --gray-300: #D1D5DB;
  --gray-900: #111827;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--gray-100);
}

@layer components {
  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-3.5 md:py-2 text-base md:text-sm font-medium text-white hover:bg-indigo-50 hover:text-indigo-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2;
  }
}

.site-container {
  /* border: 1px solid orange; */
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

main {
  /* border: 1px solid blue; */
  @apply p-4 md:p-6; /* padding-right needed so text doesn't overlap scrollbar */
  padding-top: var(--subnav-height-desktop);
  padding-bottom: var(--navbar-height-mobile); /* padding-bottom needed since navbar is fixed to bottom */
  width: 100%;
  height: max-content;

  @media (min-width: 768px) {
    margin-left: var(--navbar-width-desktop);
  }
}

#subnav {
  @apply p-4;
  display: block;
  height: var(--subnav-height-desktop);
  border-bottom: 1px solid var(--gray-300);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #FFF;

  @media (min-width: 768px) {
    padding: 0;
    left: var(--navbar-width-desktop);
    border-bottom: none;
    background-color: unset;    
  }
}

.desktop-border {
  @apply md:p-5;
  border-bottom: none;
  background-color: unset;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--gray-300);
    background-color: var(--gray-100);
  }
}

.project-dropdown {
  /* border: 1px solid red; */
  height: 0;

  @media (min-width: 768px) {
    height: var(--subnav-height-desktop);
  }
}

nav {
  @apply p-2.5 md:p-4 md:pt-5; /* md:pt-6 */
  width: 100%;
  height: var(--navbar-height-mobile);
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #FFF;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.10);

  @media (min-width: 768px) {
    width: var(--navbar-width-desktop);
    height: 100vh;
    left: 0;
    bottom: unset;
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.10);
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
    height: 93%;
  }
}

nav ul li {
  display: inline-block;
  width: 16%;
  height: 44px;
  margin-left: 5%;
  font-size: 0.625rem; /* 10px */

  @media (min-width: 768px) {
    display: block;
    width: auto;
    margin-left: 0;
    margin-bottom: 4px;
    font-size: 0.875rem; /* 14px */
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  width: auto;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

nav ul li.on a,
nav ul li a:hover {
  background-color: var(--gray-100);
  color: var(--gray-900);
  font-weight: 600;
}

nav ul li.on a {
  pointer-events: none; /* disable pointer icon if already on page */
}

nav select {
  @apply text-base px-1;
  font-weight: 600;
  color: var(--gray-900);
  width: 100%;
}

h1 {
  @apply text-base;
  font-weight: 700;
  color: var(--gray-900);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: 768px) {
    background-position: center left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
  }
}

.icon-home {
  background-image: url('./images/icon_home.png');
}

.icon-website {
  background-image: url('./images/icon_website.png');
}

.icon-crm {
  background-image: url('./images/icon_crm.png');
}

.icon-marketing {
  background-image: url('./images/icon_marketing.png');
}

.icon-invoices {
  background-image: url('./images/icon_invoices.png');
}

.icon-money {
  background-image: url('./images/icon_money.png');
}

.icon-business {
  background-image: url('./images/icon_business.png');
}

.icon-more {
  background-image: url('./images/icon_more.png');
}

.make-last-item {
  margin-top: auto;
}

nav h1 {
  font-weight: bold;
}

.show-on-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.hide-on-desktop {
  display: inline-block;

  @media (min-width: 768px) {
    display: none;
  }
}

p {
  margin-bottom: 16px;
}
