@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --navbar-width-desktop: 17%;
  --content-width-desktop: 83%;
  --navbar-height-mobile: 64px;
  --subnav-height-desktop: 5vh;
  --nav-ul-height-desktop: 95%; /* 100% - --subnav-height-desktop */
  --gray-100: #F3F4F6;
  --gray-300: #D1D5DB;
  --gray-500: #6B7280;
  --gray-700: #374151;
  --gray-900: #111827;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--gray-100);
}

/* @layer components {
  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-indigo-600 leading-none h-11 md:h-9 px-4 py-3.5 md:py-2 text-sm font-medium text-white hover:bg-indigo-50 hover:text-indigo-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2;
  }
} */

.site-container {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

main {
  @apply p-4 pt-28 md:p-6 md:pt-24; /* padding-right needed so text doesn't overlap scrollbar */
  padding-bottom: var(--navbar-height-mobile); /* padding-bottom needed since navbar is fixed to bottom */
  width: 100%;
  height: max-content;

  @media (min-width: 768px) {
    margin-left: var(--navbar-width-desktop);
    padding-bottom: 0;
  }
}

.project-dropdown {
  height: 0;

  @media (min-width: 768px) {
    height: var(--subnav-height-desktop);
  }
}

nav {
  @apply p-2.5 md:p-4 md:pt-5;
  width: 100%;
  height: var(--navbar-height-mobile);
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #FFF;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.10);

  @media (min-width: 768px) {
    width: var(--navbar-width-desktop);
    height: 100vh;
    left: 0;
    bottom: unset;
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.10);
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
    height: var(--nav-ul-height-desktop);
  }
}

nav ul li {
  display: inline-block;
  width: 16%;
  height: 44px;
  margin-left: 5%;
  font-size: 0.625rem; /* 10px */
  @apply md:text-sm;

  @media (min-width: 768px) {
    display: block;
    width: auto;
    margin-left: 0;
    margin-bottom: 4px;
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  width: auto;
  height: 100%;
  user-select: none;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

nav ul li.on a,
nav ul li a:hover {
  background-color: var(--gray-100);
  color: var(--gray-900);
  font-weight: 600;
}

nav ul li.on a {
  pointer-events: none; /* disable pointer icon if already on page */
}

nav select {
  @apply text-base px-1;
  font-weight: 600;
  color: var(--gray-900);
  background-color: #FFF;
  width: 100%;
}

nav select:hover {
  cursor: pointer;
}

h1 {
  @apply text-base pr-12;
  font-weight: 700;
  color: var(--gray-900);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: 768px) {
    background-position: center left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
  }
}

.icon-home {
  background-image: url('/images/icon_home.png');
}

.icon-website {
  background-image: url('/images/icon_website.png');
}

.icon-crm {
  background-image: url('/images/icon_crm.png');
}

.icon-marketing {
  background-image: url('/images/icon_marketing.png');
}

.icon-invoices {
  background-image: url('/images/icon_invoices.png');
}

.icon-money {
  background-image: url('/images/icon_money.png');
}

.icon-business {
  background-image: url('/images/icon_business.png');
}

.icon-more {
  background-image: url('/images/icon_more.png');
}

.make-last-item {
  margin-top: auto;
}

.flex-move-to-end {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.show-on-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.hide-on-desktop {
  display: inline-block;

  @media (min-width: 768px) {
    display: none;
  }
}

p {
  margin-bottom: 16px;
}

.desktop-border {
  border-bottom: none;
  background-color: unset;
  @apply md:mx-6;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--gray-300);
    background-color: var(--gray-100);
  }
}

#subnav {
  @apply p-4;
  padding-bottom: 0;
  display: block;
  min-height: var(--subnav-height-desktop);
  border-bottom: 1px solid var(--gray-300);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #FFF;

  @media (min-width: 768px) {
    padding: 0;
    left: var(--navbar-width-desktop);
    border-bottom: none;
    background-color: unset;
    width: var(--content-width-desktop);
  }
}

#subnav h1 {
  @apply pb-6 md:pt-5 md:pr-10 md:mt-0.5;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

#subnav ul li {
  display: inline-block;
  list-style-type: none;
  @apply pr-6 md:pr-3;
}

#subnav ul li a {
  display: block;
  height: 100%;
  user-select: none;
  color: var(--gray-500);
  font-weight: 500;
  @apply text-sm px-1 pb-2 md:p-4 md:py-6;
}

#subnav ul li.on a,
#subnav ul li a:hover
{
  border-bottom: 2px solid var(--gray-900);
}

#subnav ul li.on a {
  pointer-events: none;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.flex-wrapper-column {
  @apply pt-4 md:pt-6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.flex-wrapper-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.flex-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.flex-wrapper-right {
  display: flex;
  flex-direction: row;
}

.flex-wrapper-right a {
  display: inline-block;
  @apply ml-1 md:ml-3;
}

.flex-wrapper-right span {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 32px;
  height: 32px;
}

.flex-wrapper-right span.icon_announcements {
  background-image: url('/images/icon_announcements_24x24.png');
  background-size: 24px 24px;
  padding: 4px;
}

.flex-wrapper-right span.icon_profile {
  background-image: url('/images/icon_profile_32x32.png');
  background-size: 32px 32px;
}

#promosearch {
  background-image: url('/images/icon_search.png');
  background-repeat: no-repeat;
  background-position: center left 11px;
  background-size: 20px 20px;
  @apply leading-none w-11 pl-10;
  margin-right: 8px;
  border-radius: 21px; /* round circle on mobile view initially */
  border: 1px solid var(--gray-300);

  @media (min-width: 768px) {
    width: 22%;
    border-radius: 6px;
    margin-right: 12px;
  }
}

#promosearch:focus {
  width: 100%;
  border-radius: 6px;
  margin-right: 0;
  margin-bottom: 12px;
  @apply py-3.5 md:py-2;

  @media (min-width: 768px) {
    width: 22%;
    margin-right: 12px;
    border-radius: 6px;
    margin-bottom: 0;
  }
}

.width-22 {
  width: 35%;
  /* height: 44px; */
  /* @apply h-11 md:h-9; */
  height: 100%;
  margin-right: 8px;
  /* @apply rounded-md border-gray-300; does not work */
  border-radius: 6px;
  border: 1px solid var(--gray-300);

  @media (min-width: 768px) {
    width: 22%;
    margin-right: 12px;
  }
}
